{% extends "base.html" %}
{% block content %}
<div class="col-xs-12 col-sm-12 col-lg-12">
    <img src="/static/css/images/home-img.png" class="img-responsive"/>
</div>
<div class="col-xs-12 col-sm-12 col-lg-12" style="background-color:#33339B;">
    <div class="row">
	    <div class="col-xs-2 col-sm-2 col-lg-2"></div>
        <div class="col-xs-10 col-sm-10 col-lg-10">
            <ul class="list-inline">
                <li>
                    <ul class="list-unstyled">
                        <li><img src="/static/css/images/chose.png" class="img-responsive"/></li>
                        <li><a href="#" style="color: #FFF;">Chose</a></li>
                    </ul>
                </li>
                <li>
                    <div style="margin-top: -60px;"><img src="/static/css/images/long_arrow.png" class="img-responsive"/></div></li>
                <li>
                    <ul class="list-unstyled">
                        <li><img src="/static/css/images/the-best.png" class="img-responsive"/></li>
                        <li><a href="#" style="color: #FFF;">Select the Best</a></li>
                    </ul>
                </li>
                <li><div style="margin-top: -60px;"><img src="/static/css/images/long_arrow.png" class="img-responsive"/></div></li>
                <li>
                    <ul class="list-unstyled">
                        <li>
                            <div>
                                <img src="/static/css/images/appointment.png" class="img-responsive"/>
                            </div>
                        </li>
                        <li><a href="#" style="color: #FFF;">Get an Appointment</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}